<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
  </head>
  <body>
    <div>
      <h1><u>Edit Gallery Image Properties</u></h1>
  
      <form action="<%= product.id %>?_method=PUT" method="POST">
        <%- include('partials/product_partial') %>
      </form>
    </div>
  </body>
  </html>